$main-font: 'Cairo','lato', sans-serif;
$fruktur: 'Fruktur', cursive;
$brown: rgba(48, 32, 19, 1);
$map_bg: rgba(148,132,119,0.4);
$my-link: rgba(140,39,39,1);
$my-link-hover: rgba(160, 160, 160, 1);
$main-color: #8c2727;
$countries-color: rgba(217, 198, 176, 1);
$brown-5: rgba(48, 32, 19, 0.5);
