$main-font: 'Cairo','lato', sans-serif;
$fruktur: 'Fruktur', cursive;
$brown: rgba(48, 32, 19, 1);
$map_bg: rgba(148,132,119,0.4);
$my_link: rgba(140,39,39,1);
$my_link_hover: rgba(160, 160, 160, 1);
