<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Flights Search Result
  </div>
  <div class="content" id ="flights_results">
    <table class="ui celled table">
      <thead>
        <tr>
          <th colspan="2">
            <div class="ui labeled button" tabindex="0">
              <div class="ui basic button">
                <i class="search icon"></i> Total Result
              </div>
              <a class="ui basic left pointing label" id="result_count">
                
              </a>
            </div>
          </th>
          <th colspan="4">
            <div class="ui right floated pagination menu flight_result_pagination">
            </div>
          </th>
        </tr>
        <tr>
          <th>S/N</th>
          <th>Depature Location</th>
          <th>Arival Location</th>
          <th>Departure Date</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="6">
          <div class="ui right floated pagination menu flight_result_pagination">
          </div>
        </th>
      </tr>
      </tfoot>
    </table>
    <!-- <div id="pagination"></div> -->
  </div>
</div>