<div class="ui grid middle aligned one column center aligned" id="footer-container">
  <div class="row">
    <div class="four wide column bottom-footer-side footer-text-color">&copy; 2016, Moscavion</div>
    <div class="five wide column footer-text-color" style="font-family: 'Fruktur', cursive;">
      Enjoy your flight
    </div>
    <div class="four wide column bottom-footer-side footer-text-color">
      <a href="#"><i class="facebook icon"></i></a>
      <a href="#"><i class="twitter icon"></i></a>
      <a href="#"><i class="github icon"></i></a>
      <a href="#"><i class="slack icon"></i></a>
    </div>
  </div>
</div>