<div class="ui centered grid" id="footer-container">
  <div class="ui middle aligned grid container">
    <div class="ui sixteen wide column">
    <div class="ui three column grid stackable">
      <div class="column left">
        <div class="bottom-footer-side footer-text-color">&copy; 2016, Moscavion</div>
      </div>
      <div class="column">
        <div class="footer-text-color logo_font">
          Enjoy your flight
        </div>
      </div>
      <div class="column">
        <div class="bottom-footer-side footer-text-color">
          Follow us:
          <a href="#" class="my-link"><i class="facebook icon"></i></a>
          <a href="#" class="my-link"><i class="twitter icon"></i></a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>