<div class="ui grid middle aligned one column center aligned" id="header-container">
  <div class="row">
    <div class="three wide column logo-side" data-content="Fruktur">
      <div class="ui grid">
        <div class="six wide column">
          <a href="#" role="button" class="my-link"><i class="home icon"></i> Home</a>
        </div>
        <div class="nine wide column">
          <a href="#" role="button" class="my-link"><i class="plane icon"></i> Book flight</a>
        </div>
      </div>
    </div>
    <div class="six wide column" id="logo">
      <span></span>
      <a href="#"><h1 class="ui first header">Moscavion</h1></a>
      <span></span>
    </div>
    <div class="three wide column logo-side" data-content="Brains">
      <div class="ui grid">
        <div class="nine wide column">
          <a href="#" role="button" class="my-link"><i class="edit icon"></i> Manage</a>
        </div>
        <div class="six wide column">
          <a href="#" role="button" class="my-link"><i class="sign in icon"></i> Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>