<div class="ui grid middle aligned one column" style="height: 100vh">
  <div class="row">
    <div class="column eight wide centered">
      <div class="ui three column grid">
        <div class="column five wide centered">
          <h1 class="ui icon header">
          <div class="ui active large inline loader"></div>
          <div class="content" >
            Moscavion
            <p class="sub header">book your flight</p>
          </div>
          </h1>
        </div>
      </div>
    </div>
    
  </div>
  
</div>