<%= render :partial => "header" %>
<div class="ui grid middle aligned one column" id="map-box">
  <div class="row">
    <div class="column twelve wide centered">
      <div id="map">
      </div>
    </div>
  </div>
</div>
<%= render :partial => "footer" %>