<div id="loading">
  <div id="loading-center">
    <div id="loading-center-absolute">
      <div class="row">
        <div class="column eight wide centered">
          <div class="ui three column grid">
            <div class="column twelve wide centered">
              <h1 class="ui icon header">
              <div class="ui active large inline loader"></div>
              <div class="content brown">
                Moscavion
                <p class="sub header brown">book your flight</p>
              </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>