<div class="ui grid bottom_margin_20">
	<div class="four wide column" style="">
		<div class="ui vertical menu">
			<a class="teal item" href="<%= your_bookings_path %>">
				Past Bookings
			</a>
			<a class="item">
				Account
			</a>
		</div>
	</div>
	<div class="twelve wide column" id="profile-content">
		<%= yield %>
	</div>
</div>
