<div class="ui center aligned sixteen wide grid">
	<div class="row">
		<div class="ui middle aligned grid stackable booking-main-container">
			<div class="row">
				<div class="eight column wide" style="">
					<div class="ui grid center aligned">
						<div>
							<div class="ui segment">
								<a class="ui grey ribbon label"><i class='info icon'></i>Overview</a>
								<h3><i class="plane icon"></i>Booking Details</h3>
								<p></p>
								<%= render :partial => "new_booking_form" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>