<div class="ui middle aligned two column grid stackable bottom_margin_20">
	<div class="eight wide column">
		<div class="">
			<div class="ui center aligned grid">
				<div class="fullwidth">
					<div class="ui segment">
						<a class="ui grey ribbon label"><i class='info icon'></i>Overview</a>
						<h3><i class="plane icon"></i>Flight Details</h3>
						<p></p>
						<%= render "flight_description_table", { flight: flight } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="eight wide column">
		<div>
			<div class="ui center aligned grid">
				<div class="fullwidth">
					<div class="ui segment">
						<a class="ui grey ribbon right label"><i class='book icon'></i>Passengers Information</a>
						<div style="">
							<p></p>
							<%= render "edit_booking_form", { booking: booking, flights: flights, flight: flight } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
