<%= render layout: "partials/index" do %>
	<h2 class="ui header">Past Bookings</h2>
	<div class="ui divider"></div>
	<div class="ui <%= class_for_bookings(@bookings) %>">
		<%= display_bookings @bookings %>
	</div>
	<div class="ui divider"></div>
	 <%= will_paginate @bookings %>
<% end %>
